/* -------------------------------------- GLOBAL ------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/* ------------------------------------ GLOBAL CLASS -------------------------------------- */

.center {
    position: absolute;
    left: 50%;
    top: 50%;
}

.move-forward {
    z-index: 1;
}

.one-page {
    height: calc(100vh - 30px);
    overflow: hidden;
}

/* ------------------------------------ FONTS -------------------------------------- */

.font-coming-soon {
    font-family: 'Coming Soon', cursive;
}

.font-luckiest-guy {
    font-family: 'Luckiest Guy', cursive;
}

.font-sriracha {
    font-family: 'Sriracha', cursive;
}

/* ----------------------------------------- HEADER ------------------------------------------ */

header {
    position: relative;
}

#slide-list img {
    display: table;
    float: left;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#logo {
    position: absolute;
    display: block;
    height: 600px;
    width: 600px;
    margin: -300px 0 0 -300px;
    background: url(image/logo.png) no-repeat;
    background-size: cover;
    clip-path: circle(50% at 50% 50%);
}

#scroll-down {
    font-size: 20px;
    color: #71797E;
    mix-blend-mode: difference;
    margin-left: -72.5px;
    top: calc(100% - 50px);
}

/* ------------------------------------------ MAIN ---------------------------------------------- */

#music {
    margin: 15px 0px;
}

.project-banner {
    padding: 15px 30px;
}

.index {
    font-size: 150px;
    font-weight: bold;
    text-decoration: underline;
}

.project-github-link {
    display: block;
    text-decoration: none;
}

.project-github-link h3 {
    font-size: 10px;
    color: rgba(255, 255, 255, 0);
}

.project-github-link img {
    width: 100%;
    object-fit: cover;
}

/* ------------------------------------------ FOOTER ---------------------------------------------- */
footer {
    margin-top: 100px;
}

#copyright {
    color: white;
    /* background-color: #191970; */
    /* background-color: #0047AB; */
    background-color: #1434A4;
    font-size: 7.3vw;
    text-align: center;
}

#contact-box {
    background-color: #191970;
    /* background-color: #353935; */
    padding: 30px 10%;
    font-family: 'Lily Script One', cursive;
    font-size: 4vw;
    color: white;
}

#contact-box>a {
    color: white;
    display: inline-block;
    text-decoration: underline;
}

#github {
    width: calc(30% - 10px);
}

#email {
    width: calc(70% - 10px);
}

#email {
    cursor: pointer;
}
