/* -------------------------------------- GLOBAL ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: "AS", "SF";
    font-family: 'Coming Soon', cursive;
}

body {
    height: 100vh;
}

/* ------------------------------------ GLOBAL CLASS -------------------------------------- */

.center {
    position: absolute;
    left: 50%;
    top: 50%;
}

.move-forward {
    z-index: 1;
}

.one-page {
    height: calc(100vh - 30px);
    overflow: hidden;
}

/* ----------------------------------------- MODAL ------------------------------------------ */

.modal-overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.modal-overlay * {
    font-family: 'Luckiest Guy', cursive;
}

#modal-content {
    width: 720px;
    height: 575px;
    border: 3px solid black;
    background-color: aliceblue;
    cursor: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px 1fr;
    grid-template-areas: 
        "   name    name    "
        "   pic     pinfo   ";
}

#modal-content h2 {
    grid-area: name;
    font-size: 80px;
    font-style: italic;
    margin: 15px;
    text-align: center;
}

#modal-content img {
    grid-area: pic;
    width: calc(100% - 36px);
    margin: 0 15px 30px 15px;
    border: 3px solid black;
}

#pinfo {
    grid-area: pinfo;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pinfo>* {
    margin-bottom: 20px;
}

#github {
    font-size: 50px;
    text-decoration: none;
    color: black;
}

#github:hover {
    text-decoration: underline;
}

#email-box * {
    font-size: 20px;
}

.button {
    border: 2px solid black;
    background-color: aliceblue;
    padding: 8px 8px 0px 8px;
}

#phone-box * {
    font-size: 30px;
}

.resume-button {
    display: block;
    font-size: 30px;
}

/* ----------------------------------------- HEADER ------------------------------------------ */

header {
    position: relative;
}

#slide-list img {
    display: table;
    float: left;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#logo {
    position: absolute;
    display: block;
    height: 600px;
    width: 600px;
    margin: -300px 0 0 -300px;
    background: url(image/logo.png) no-repeat;
    background-size: cover;
    clip-path: circle(50% at 50% 50%);
}

#scroll-down {
    font-size: 20px;
    color: #71797E;
    mix-blend-mode: difference;
    margin-left: -72.5px;
    top: calc(100% - 50px);
}

/* ------------------------------------------ MAIN ---------------------------------------------- */

#music {
    margin: 15px 0px;
}

.project-banner {
    padding: 60px;
}

.project-banner h2 {
    font-size: 20px;
    font-weight: bold;
}

.project-github-link {
    display: block;
    text-decoration: none;
}

.project-github-link h3 {
    font-size: 10px;
    color: rgba(255, 255, 255, 0);
}

.project-github-link img {
    width: 100%;
    object-fit: cover;
}

/* ------------------------------------------ FOOTER ---------------------------------------------- */

footer {
    position: fixed;
    top: calc(100% - 30px);
    border-top: 2px solid black;
    width: 100%;
    height: 30px;
    background-color: aliceblue;
}

footer * {
    display: inline-block;
    font-size: 20px;
}

#copyright {
    position: absolute;
    left: calc(25% - 121.5px);
}

#boring {
    position: absolute;
    left: calc(75% - 83.5px);
    cursor: pointer;
}

#boring:hover {
    text-decoration: underline;
}